/*-----------------------------------------base*/

body 
{ background: url('images/bwraining.gif'); }
  h1 {
    font-family: Gill Sans;
    font-size: 80px;
    color: white;
    margin-top: 550px;
    margin-left: 40px;

  }

/*-----------------------------------------media queries*/

@media screen and (max-width: 1024px) {
  body { background: url('images/vanillaice.gif'); }
  h1 {
    font-size: 60px;
    font-family: Gill Sans;
    color: white;
    margin-top: 550px;
    margin-left: 40px;
}

@media screen and (max-width: 768px) {
  body { background: url('images/chinesewriting.gif'); }
  h1 {
    font-size: 40px;
    font-family: Gill Sans;
    color: white;
    margin-top: 550px;
    margin-left: 40px;
  }
}

@media screen and (max-width: 600px) {
  body { background: url('images/eyeballs.gif'); }
  h1 {
    font-size: 20px;
    font-family: Gill Sans;
    color: white;
    margin-top: 550px;
    margin-left: 40px;
  }
}

@media screen and (max-width: 480px) {
  body { background: url('images/glitter.gif'); }
  h1 {
    font-size: 10px;
    font-family: Gill Sans;
    color: white;
    margin-top: 550px;
    margin-left: 40px;
  }
}





