a {
	font-size: 21px;
	font-family: Courier;
	text-decoration: none;
	border-bottom: dashed 1px violet;
	line-height: 40px;
	color: #7FFFD4;
	/*background-image: url('images/ninja.jpeg');*/
	/*background-attachment: fixed;*/
}

body {
	background-color: #F0F8FF;
}


















