/*navigation*/

/*.nav {
	top:0;
	left:0;
	position:fixed;
	font-family: sans-serif;
	font-size: 7pt;
	text-decoration: none;
	border: dotted 1px violet; 
	padding: 10px;
}*/

/*.nav a:visited {
	text-decoration: none;
}

.nav a:hover {
	text-decoration: none;
	color: green;
}

.nav a:link {
	text-decoration: none;
	color: green;
}

.nav a:visited {
	text-decoration: none;
	color: green;
}*/

.nav {
	text-decoration: none; 
	border: dotted 1px violet;
}












